<mat-card class="container">
  <mat-card-title>Ajouter une arme</mat-card-title>
  <mat-card-content>Veuillez remplir le(s) champs suivant(s):</mat-card-content>
  <form [formGroup]="armeForm" (ngSubmit)="onSubmit(armeForm)">

    <mat-form-field hidden appearance="outline" class="full-width-input">
      <mat-label>{{this.listeadh.adhId}}</mat-label>
      <input matInput  formControlName="AdherentId" required disabled />
    </mat-form-field>
    <div class="row">
      <div class="col">
    <mat-form-field  class="full-width">
      <mat-label>Catégorie</mat-label>
      <input matInput type="text" formControlName="Categorie" required />

    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-form-field  class="full-width">
      <mat-label>Type</mat-label>
      <input matInput type="text" formControlName="Type" required />
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-form-field  class="full-width">
      <mat-label>Numéro de Série</mat-label>
      <input matInput type="text" formControlName="Num_serie" required />
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col">
    <mat-form-field  class="full-width">
      <mat-label>Calibre</mat-label>
      <input matInput type="text" formControlName="Calibre" required />
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col">
    <mat-form-field  class="full-width">
      <mat-label>Nombre de coup</mat-label>
      <input matInput type="text" formControlName="Nb_coup" required />
    </mat-form-field>
  </div>
</div>


  <mat-card-actions align="end">


    <button mat-raised-button color="primary" type="submit" [disabled]="" >Ajouter</button>
  </mat-card-actions>
  </form>
</mat-card>
