<mat-toolbar color="primary">
  <span>Bienvenue  ! </span>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
    <a mat-list-item >Utilisateurs</a>

    <a mat-list-item href="#">Link 2</a>
    <a mat-list-item href="#">Link 3</a>
  </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <button (click)="opened=!opened">Dashboard</button>
  </mat-sidenav-content>
</mat-sidenav-container>
