.full-width-table {
  width: 100%;
}
.body {

  text-align: left;

}
.foukspan{
  display: flex;
  justify-content: center;
}
.make-red {
  background-color: rgb(218, 52, 52)
}

.make-green {
  background-color: rgb(79, 218, 79)
}
