<div class="card" data-background-color="white" >
  <div class="card-header card-header-primary">



    <h4 class="card-title">Liste des cotisations de l'adhérent</h4>


  </div>

  <div class="card-body table-responsive">
    <div class="mat-elevation-z8">

      <table  mat-table class="full-width-table" matSort aria-label="Elements">



        <!-- Name Column -->
        <ng-container matColumnDef="exerciceLib">

          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="foukspan">
              <span>
                Année
              </span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">{{element.exercice.exerciceLib}}</td>

        </ng-container>


        <ng-container matColumnDef="etat_cotisationLib">

          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <div class="foukspan">
              <span>
                Année
              </span>
            </div>
          </th>
          <td mat-cell *matCellDef="let element">{{element.etat_cotisation.etat_cotisationLib}}</td>

        </ng-container>

        <!-- Name Column -->

        <!-- Name Column -->




        <!-- Name Column -->
        <ng-container matColumnDef="montant">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Montant</th>
          <td mat-cell *matCellDef="let element">{{element.exercice.montant}}</td>
        </ng-container>



        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let row">


            <!-- <button mat-icon-button [matMenuTriggerFor]="ajouter">
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <mat-menu #ajouter="matMenu">
          <a mat-menu-item [routerLink]="['/permis']" (click)="getId(row.adherentId)">Permis</a>
          <a mat-menu-item [routerLink]="['/arme']" (click)="getId(row.adherentId)">Arme</a>
          <a mat-menu-item [routerLink]="['/chien']" (click)="getId(row.adherentId)">Chien</a>
        </mat-menu> -->
          </td>
        </ng-container>
        <ng-container matColumnDef="add">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Add</th>
          <tr></tr>

        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'make-red': row.etat_cotisation.etat_cotisationLib=='Non payée', 'make-green': row.etat_cotisation.etat_cotisationLib!='Non payée'}" >


        </tr>

      </table>

      <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </div>
</div>
