
<h2 mat-dialog-title>Ajouter un exercice</h2>
  <mat-dialog-content [formGroup]="exerciceForm" >



        <mat-form-field class="full-width" >
          <mat-select placeholder="Année"  formControlName="exerciceLib">
            <mat-option *ngFor="let ex of exercice" [value]="ex.exerciceLib"  >
              {{ ex.exerciceLib }}



            </mat-option>
          </mat-select>
        </mat-form-field>


     </mat-dialog-content>
     <mat-dialog-actions align="end">
      <button class="mat-raised-button"(click)="close()">Fermer</button>
      <button class="mat-raised-button mat-accent"(click)="generateCotisation()">Générer</button>
  </mat-dialog-actions>



