<!-- Ajouter Adherent -->

<mat-card class="shipping-card"  >
  <mat-card-title>Ajouter un exercice</mat-card-title>
  <mat-card-content>Veuillez remplir les champs suivants:</mat-card-content>
  <form [formGroup]="exerciceForm">



        <mat-form-field class="full-width">
          <mat-select placeholder="Année" formControlName="exerciceLib">
            <mat-option *ngFor="let ex of exs" [value]="ex.value"  >
              {{ ex.value }}

            </mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)="generateCotisation()">add</button>

     </form>
</mat-card>

<!-- Adherent Table -->
