<div class="row">

  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">store</i>
        </div>
        <p class="card-category">Associations</p>
        <h3 class="card-title">Gérer</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">update</i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-danger card-header-icon">
        <div class="card-icon">
          <i class="material-icons">info_outline</i>
        </div>
        <p class="card-category">Cotisations non payées</p>
        <h3 class="card-title">75</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">update</i> Just Updated
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="fa fa-user"></i>
        </div>
        <p class="card-category">Adhérents</p>
        <h3 class="card-title">6812</h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          <i class="material-icons">update</i> Just Updated
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Cotisations à venir</h4>
        <p class="card-category">Liste des Cotisation pour les 5 prochains exercices</p>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">
            <th>Année</th>
            <th>Montant</th>

          </thead>
          <tbody>
            <tr>
              <td>2021-2022</td>
              <td>90</td>

            </tr>
            <tr>
              <td>2022-2023</td>
              <td>90</td>

            </tr>
            <tr>
              <td>2023-2024</td>
              <td>110</td>

            </tr>
            <tr>
              <td>2024-2025</td>
              <td>110</td>

            </tr>
            <tr>
              <td>2025-2026</td>
              <td>110</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<!-- <div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-danger">
  <app-listeassociationreg></app-listeassociationreg>
</div>
</div>
</div>


  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-warning">
        <app-listeadherents></app-listeadherents>
      </div>
    </div>
  </div>
</div> -->


<!-- <li class="header-title">Want more components?</li>
  <li class="button-container">
      <a href="https://www.creative-tim.com/product/material-dashboard-pro" target="_blank" class="btn btn-warning btn-block">
        Get the pro version
      </a>
  </li> -->
<!-- <li class="button-container">
<a href="https://demos.creative-tim.com/material-dashboard/docs/2.1/getting-started/introduction.html" target="_blank" class="btn btn-default btn-block">
  View Documentation
</a>
</li>
<li class="button-container github-star">
<a class="github-button" href="https://github.com/creativetimofficial/material-dashboard" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
</li>
<li class="header-title">Thank you for 95 shares!</li>
<li class="button-container text-center">
<button id="twitter" class="btn btn-round btn-twitter"><i class="fa fa-twitter"></i> &middot; 45</button>
<button id="facebook" class="btn btn-round btn-facebook"><i class="fa fa-facebook-f"></i> &middot; 50</button>
<br>
<br>
</li>
</ul> -->
<!-- <div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>

  <mat-card class="dashboard-card">
    <mat-card-header>
      <mat-card-title>Adhérents</mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">

      <div><app-listeadherents></app-listeadherents></div>

    </mat-card-content>
  </mat-card>
  <!-- <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div><app-listeadherents></app-listeadherents></div>
          <h3>{{card.rows}}</h3>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list> -->
<!-- </div>-->
